{% extends 'layout.html' %}
{% set active_page = 'about' %}

{% block title %}Rólunk{% endblock %}

{% block header %}
{% with header_type='half' %}
{% include "components/carousel.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="header_overlap_cont">
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="count-up">
                        <p><span class="counter-count" data-value="30" data-duration="1000">0</span>+ év</p>
                        <h3>Tapasztalat</h3>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="count-up">
                        <p><span class="counter-count" data-value="100" data-duration="1000">0</span>+</p>
                        <h3>Sikeres projekt</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="to-fade-in">
    <div class="container">
        <h2 class="mb-3 text-center">Cégünk Története</h2>
        <div class="row">
            <div class="col-md">
                <p>A <strong>NetworkTech Solutions (NTS)</strong> 1992-ben alakult, kezdetben kizárólag a <strong>hálózati infrastruktúra fejlesztésére</strong> specializálódva. Az évek során, a piaci igények változásával és a technológia fejlődésével, cégünk kínálata folyamatosan bővült. A mai napig több mint <strong>100 sikeres projektet</strong> tudhatunk magunk mögött, és most már a <strong>weboldalak fejlesztésével és karbantartásával</strong> is foglalkozunk, hogy ügyfeleink számára komplex informatikai megoldásokat kínálhassunk.</p>
            </div>
            <div class="col-md">
                <img src="{{ url_for('static', filename='img/NTS-Banner.png') }}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="to-fade-in">
    <div class="container">
        <h2 class="mb-3 text-center">Miért válassza a NetworkTech Solutions-t?</h2>
        <div class="row">
            <p>Cégünk kiemelkedő abban, hogy <strong>minden informatikai kérdésére és szolgáltatásra</strong> választ adunk. A következő szempontok alapján biztos lehet abban, hogy velünk jó helyen jár:</p>
            <div class="col-md">
                <ol class="gradient-list">
                    <li><strong>Rugalmasság</strong>: Munkáinkat mindig az Ön igényeihez alakítjuk.</li>
                    <li><strong>Széleskörű szolgáltatások</strong>: Mi egy kézben tartjuk a <strong>hálózatot</strong> és a <strong>weboldalt</strong> is, így nem kell több szolgáltatóval egyeztetnie.</li>
                    <li><strong>Komplett megoldások</strong>: Az NTS mindent biztosít, amit a sikeres működéshez szükséges: a legmodernebb hálózati infrastruktúrát és weboldal fejlesztést egyaránt.</li>
                    <li><strong>Egyedülálló kombináció</strong>: Mi nemcsak a hálózati infrastruktúrára, hanem a weboldalak fejlesztésére is specializálódtunk. Így ha mindkét szolgáltatásra szüksége van, mi egyben megoldjuk a problémát.</li>
                </ol>
            </div>
            <div class="col-md">
                <ol class="gradient-list" start="5">
                    <li><strong>Kedvező csomagok</strong>: Ha új céget indít, vagy megújítja meglévő vállalkozását, mi <strong>kedvező csomagokkal</strong> várjuk, amik tartalmazzák mind a hálózati infrastruktúrát, mind a weboldal fejlesztését.</li>
                    <li><strong>Garancia és megbízhatóság</strong>: <strong>Munkáinkra teljeskörű garanciát</strong> vállalunk, munkánként eltérő időtartamra (a pontos időtartamot mindig előre egyeztetjük).</li>
                    <li><strong>Karbantartás és frissítések</strong>: A weboldalak és hálózatok biztonságos és zavartalan működése érdekében folyamatos <strong>karbantartást</strong> és <strong>biztonsági frissítéseket</strong> biztosítunk.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="to-fade-in">
    <div class="container" style="max-width: 600px">
        <h2 class="mb-3 text-center">Szolgáltatásaink</h2>
        <p>Mi az NTS-nél mindig arra törekszünk, hogy ügyfeleink számára a legjobb és legmegbízhatóbb megoldásokat kínáljuk, legyen szó akár egy egyszerű hálózati frissítésről, akár egy komplex weboldal fejlesztéséről. Szolgáltatásaink közé tartoznak:</p>
        <ol class="gradient-list">
            <li><strong>Hálózati infrastruktúra tervezése és építése</strong>
                <ul>
                    <li>Vezetékes és vezeték nélküli hálózatok kialakítása</li>
                    <li>Különböző méretű vállalkozások számára testreszabott megoldások</li>
                    <li>Hálózati eszközök telepítése és konfigurálása</li>
                </ul>
            </li>
            <li><strong>Weboldalak fejlesztése és karbantartása</strong>
                <ul>
                    <li>Egyedi weboldalak tervezése és fejlesztése</li>
                    <li>Reszponzív design és felhasználóbarát felületek</li>
                    <li>Keresőoptimalizálás (SEO) és tartalomkezelés</li>
                    <li>Rendszeres frissítések és biztonsági mentések</li>
                </ul>
            </li>
            <li><strong>Tanácsadás és egyéb informatikai szolgáltatások</strong>
                <ul>
                    <li>Informatikai infrastruktúra elemzése és optimalizálása</li>
                    <li>Számítógépes hálózatok és szoftverek integrálása</li>
                    <li>Egyedi vállalati megoldások kidolgozása</li>
                </ul>
            </li>
        </ol>
    </div>
    </div>
</section>

<span class="link_anchor_cont"><span id="referenciak" class="link_anchor"></span></span>
<section class="to-fade-in">
    <div class="container">
        <h2 class="mb-3 text-center">Referenciák</h2>
        <div class="row mb-3">
            <div class="col-md">
                <img src="{{ url_for('static', filename='img/references/rosszfogas.png') }}" alt=""
                    style="border-radius: 8% 92% 23% 77% / 92% 19% 81% 8%">
            </div>
            <div class="col-md">
                <h4>Rosszfogás.hu</h4>
                <p>Az egyik legismertebb projektünk a rosszfogás.hu közösségi webáruház fejlesztése. A jólműködő weboldal tökéletes példája a letisztult design és a professzionális back-end-nek.</p>
                <a href="https://rosszfogas.pythonanywhere.com/" target="_blank" class="btn btn-primary mt-3 btn-more">Oldal megtekintése</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md">
                <h4>NTS - Webáruház</h4>
                <p>Cégünk webáruházát is természetesen mi fejlesztettük. Ez egy komplett és működő webaplikáció, amely a back-end tudásunkat is jól bizonyítja.</p>
            </div>
            <div class="col-md">
                <img src="{{ url_for('static', filename='img/references/nts.png') }}" alt=""
                style="border-radius: 12% 88% 10% 90% / 78% 10% 90% 22% ">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md">
                <img src="{{ url_for('static', filename='img/references/kapcsolo_manager.png') }}" alt=""
                    style="border-radius: 8% 92% 23% 77% / 92% 19% 81% 8%">
            </div>
            <div class="col-md">
                <h4>Kapcsoló manager felület</h4>
                <p>A projekt egy felhasználói felületet biztosít Cisco 2960-as kapcsolók távoli beállítására SSH segítségével. Ebben a projektben kombiunáltuk a webfejlesztési és a hálózati szakértelmünket is.</p>
            </div>
        </div>
    </div>
</section>

<section class="to-fade-in">
    <div class="container">
        <h2 class="text-center">Lépjen velünk kapcsolatba!</h2>
        <div class="row">
            <div class="col-md mb-2">
                {% include "components/contact.html" %}
            </div>
            <div class="col-md mb-2">
                <div class="col-sm-6 col-md-12 col-lg-6 mb-2">
                    <div class="card p-2" style="width: 14rem;">
                        <div class="card-body text-center">
                            <i class="fa-solid fa-phone"></i>
                            <h5 class="card-title">Telefon</h5>
                            <a href="tel:+36301234567">
                                <h6 class="card-subtitle mb-2 text-muted">+36 30 123 4567</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <p>Székhely: 9021 Győr, Szent István út 7</p>
                <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=17.626533508300785%2C47.68097751279712%2C17.6336145401001%2C47.684242330984716&amp;layer=mapnik&amp;marker=47.682609947431615%2C17.63007402420044" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=47.682610&amp;mlon=17.630074#map=18/47.682610/17.630074">Nagyobb térkép</a></small>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}